# Managed by Ansible. Local changes may be overwritten.
# See pwhistory.conf(5).

# Number of previous passwords to remember.
remember = {{ auth_remember }}

{% if auth_remember_file is not none %}
# Password history file.
file = {{ auth_remember_file }}
{% endif %}
{% if auth_enforce_for_root %}
# Enforce password history for root.
enforce_for_root
{% endif %}
