# Managed by Ansible. Local changes may be overwritten.
# See pwquality.conf(5).

# Number of retries when changing a password.
retry = {{ auth_retry }}

# Minimum acceptable password length.
minlen = {{ auth_min_length }}

# Character class credits. Negative values represent minimum requirements.
dcredit = {{ auth_dcredit }}
ucredit = {{ auth_ucredit }}
ocredit = {{ auth_ocredit }}
lcredit = {{ auth_lcredit }}

{% if auth_difok is not none %}
# Minimum number of character changes from the old password.
difok = {{ auth_difok }}
{% endif %}
{% if auth_maxrepeat is not none %}
# Maximum number of allowed consecutive same characters.
maxrepeat = {{ auth_maxrepeat }}
{% endif %}
{% if auth_maxclassrepeat is not none %}
# Maximum number of allowed consecutive characters from the same class.
maxclassrepeat = {{ auth_maxclassrepeat }}
{% endif %}
{% if auth_gecoscheck is not none %}
# Check whether words from the GECOS field are present in the password.
gecoscheck = {{ auth_gecoscheck }}
{% endif %}
{% if auth_dictcheck is not none %}
# Check whether words from the cracklib dictionary are present in the password.
dictcheck = {{ auth_dictcheck }}
{% endif %}
{% if auth_usercheck is not none %}
# Check whether the user name is present in the password.
usercheck = {{ auth_usercheck }}
{% endif %}
{% if auth_usersubstr is not none %}
# Minimum user-name substring length checked in passwords.
usersubstr = {{ auth_usersubstr }}
{% endif %}
{% if auth_enforcing is not none %}
# Enforce password checks for non-root users.
enforcing = {{ auth_enforcing }}
{% endif %}
{% if auth_dictpath is not none %}
# Alternative cracklib dictionary path.
dictpath = {{ auth_dictpath }}
{% endif %}
{% if auth_enforce_for_root %}
# Enforce password checks for root.
enforce_for_root
{% endif %}
{% if auth_local_users_only %}
# Only check local users.
local_users_only
{% endif %}
